* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;

}

nav {
    top: 0;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    position: absolute;
    width: 90vw;
    z-index: 2;
}


.logo {
    background-image: url(./assets/image/logo.svg);
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;


}

.nav-but-laun {
    padding: 4px 30px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    margin-right: 10px;
}

.nav-but-butt {
    font-size: 15px;
    padding: 7px 20px;
    background-color: red;
    color: white;
    border: none;
}

header {
    position: relative;
    background-image: url(./assets/image/bg.jpg);
    height: 750px;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow-x: hidden;
    box-shadow: 0px 10px 100px 5px rebeccapurple
}

.bgdark {
    background-color: black;
    position: absolute;
    height: 750px;
    width: 100vw;
    z-index: 1;
    top: 0;
    opacity: 0.74;
}

.heading {
    z-index: 2;
    color: white;
    width: 600px;
    text-align: center;

}

.heading1 {
    font-weight: 800;
    font-size: 50px;
    display: inline-block;
}

.heading2 {
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 0px;
}

.enter {
    width: 600px;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    z-index: 2;
}

.email {
    width: 385px;
    margin-right: 20px;
    height: 50px;
    padding-left: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(124, 123, 123);


}

.start-but {
    width: 200px;
    height: 52px;
    background-color: red;
    color: white;
    font-size: 30px;
    border: none;
}

.trending {
    background-color: black;
    color: white;
    width: 100vw;


}

.trend-h2 {
    padding: 30px;
    font-size: 30px;
    margin-left: 100px;
    overflow: hidden;
}

.movies {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    margin-left: 150px;
    margin-right: 150px;
    scrollbar-width: none;
    padding-bottom: 30px;
}

.movi {
    height: 300px;
    min-width: 175px;
    margin: 10px;
    background-color: wheat;
    border-radius: 20px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.num {
    position: absolute;
    bottom: 0;
    left: -30px;
    font-size: 100px;
    color: white;
    z-index: 3;


}

.movi1 {
    background-image: url(./assets/image/1.webp);

}

.movi2 {
    background-image: url(./assets/image/2.webp);
}

.movi3 {
    background-image: url(./assets/image/3.webp);
}

.movi4 {
    background-image: url(./assets/image/4.webp);
}

.movi5 {
    background-image: url(./assets/image/5.webp);
}

.movi6 {
    background-image: url(./assets/image/6.webp);
}

.movi7 {
    background-image: url(./assets/image/7.webp);
}

.movi8 {
    background-image: url(./assets/image/8.webp);
}

.movi9 {
    background-image: url(./assets/image/9.webp);
}

.movi10 {
    background-image: url(./assets/image/10.webp);
}


.reson {
    background-color: black;
    color: white;
    width: 100vw;
    padding-bottom: 30px;
}

.reases {
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

}

.reas {
    min-height: 290px;
    width: auto;
    background-image: linear-gradient(to bottom right, rgb(2, 2, 68), rgb(82, 1, 76));
    border-radius: 20px;
    position: relative;

    h2,
    p {
        padding: 20px 20px 0px 20px;
    }

    p {
        color: rgb(156, 155, 156);
        font-weight: 700;
    }
}

.image {

    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    ;
}

.image1 {
    background-image: url(./assets/image/img1.png);
}

.image2 {
    background-image: url(./assets/image/img2.png);
}

.image3 {
    background-image: url(./assets/image/img3.png);
}

.image4 {
    background-image: url(./assets/image/img4.png);
}

.quest {
    background-color: black;
    color: white;
    width: 100%;
    padding-bottom: 30px;
}

.question {
    margin-left: 150px;
    margin-right: 150px;


}

.ques {
    width: auto;
    background-color: #333;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 2px;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.down-but {
    display: block;
    font-size: 26px;
    cursor: pointer;
}

.rotate {
    transform-origin: 50%;
    transform: rotate(45deg);
    /* transform-origin: 0%; */
    transition: all 0.1s linear ;

}
#box:not(.rotate) {
    transform-origin: 50%;
    transform: rotate(0deg);
    transition: all 0.1s linear;
}   
.rorev{
    transform-origin: 50%;
    transform: rotate(0deg);
    transition: all 0.1s linear;
}

.ques-in {

    width: auto;
    background-color: #333;
    font-size: 25px;
    padding: 20px;
 
}
.ques-out{
    display:none;    
}

.qn11 {
    display: block;
    margin-bottom: 28px;

}

.one {
    background-color: black;
    color: white;


}

.line1 {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.email2 {
    width: 500px;
    height: 50px;
    padding-left: 20px;
    background-color: #0f0f0f;
    color: white;
    border: 1px solid rgb(124, 123, 123);
}

.start-but2 {
    width: 200px;
    height: 53px;
    background-color: red;
    color: white;
    font-size: 30px;
    border: none;
    margin-left: 20px;
}

.one span {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
}

.list li {

    text-decoration: underline;
    list-style: none;
    margin-bottom: 10px;
}

.left {
    margin-left: 150px;

}

/* This is all media querry */




















@media screen and (max-width:1280px) {
    .logo {
        width: 120px;
        height: 30px;
    }

    .nav-but-laun {
        padding: 4px 20px;
        font-size: 13px;
    }

    .nav-but-butt {
        font-size: 13px;
        padding: 5px 15px;
    }

    .header {
        height: 50vh;
    }

    .heading1 {
        font-size: 60px;
    }

    .heading2 {
        font-size: 25px;
    }

    .enter {
        width: 500px;
    }

    .email {
        width: 300px;
    }

    .start-but {
        width: 150px;
    }

    .trend-h2 {
        margin-left: 50px;
    }

    .movies {
        margin-left: 100px;
        margin-right: 100px;
    }

    .movi {

        min-width: 140px;
        height: 250px;
    }

    .reases {
        margin-left: 100px;
        margin-right: 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .reas {
        min-height: 150px;

        p {
            padding-bottom: 40px;
        }
    }

    .quest {
        width: auto;

    }

    .question,
    .left {
        margin-left: 100px;
        margin-right: 100px;
    }

    .ques ,.ques-in{
        width: auto;
        font-size: 20px;
        padding: 15px;
    }

    .email2 {
        width: 65vw;
    }

    .list {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 40px;
    }


}


@media screen and (max-width:900px) {
    .logo {
        width: 100px;
        height: 25px;

    }

    .nav-but-laun {
        padding: 4px 15px;
        font-size: 12px;
    }

    .nav-but-butt {
        font-size: 12px;
        padding: 5px 10px;
    }

    header,
    .bgdark {
        width: 100%;
        height: 60vh;
    }


    .heading {
        width: 500px;
        text-align: center;

    }

    .heading1 {
        font-size: 40px;
    }

    .heading2 {
        font-size: 20px;
        margin-top: 5px;
    }

    .enter {
        width: 400px;
    }

    .email {
        width: 200px;
    }

    .start-but {
        width: 170px;
    }

    .trend-h2 {
        margin-left: 20px;
    }

    .movies {
        margin-left: 50px;
        margin-right: 50px;
    }

    .movi {
        min-width: 80px;
        height: 160px;
    }

    .reases {
        margin-left: 50px;
        margin-right: 50px;
        display: inline-block;
    }

    .reas,
    .reas3 {
        min-height: 250px;
        margin-bottom: 20px;
        min-height: 150px;

        p {
            padding-bottom: 80px;
        }
    }

    .question,
    .left {
        margin-left: 50px;
        margin-right: 50px;
    }

    .ques ,.ques-in{
        width: auto;
        font-size: 18px;
        padding: 10px;
    }

    .email2 {
        width: 300px;
    }

    .list {
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }


}

@media SCREEN and (max-width:600px) {

    .logo {
        width: 80px;
        height: 20px;


    }



    .nav-but-laun {
        padding: 4px 10px;
        font-size: 11px;
    }

    .nav-but-butt {
        font-size: 11px;
        padding: 5px 8px;
    }

    header {
        width: 100vw;
        height: 50vh;
        min-height: 600px;
        background-size: cover;
        overflow: hidden;
    }

    .bgdark {
        width: 100vw;
        height: 50vh;
        min-height: 600px;
    }

    .heading {
        width: 90vw;
        text-align: center;

    }

    .heading1 {
        font-size: 30px;
    }

    .heading2 {
        font-size: 20px;
        margin-top: 5px;
    }

    .enter {
        width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .email {
        width: 80vw;
        font-size: 20px;
    }

    .start-but {
        width: 200px;
        margin-top: 10px;
    }

    .trend-h2 {
        margin-left: 10px;
        font-size: 20px;
        padding: 10px;
    }

    .num {
        font-size: 60px;
        left: -20px;
    }

    .movies {
        margin-left: 20px;
        margin-right: 20px;
    }

    .movi {
        height: 150px;
    }

    .reases {
        margin-right: 20px;
        margin-left: 20px;
    }

    .question,
    .left {
        margin-left: 20px;
        margin-right: 20px;
    }

    .ques ,.ques-in{
        width: auto;
        font-size: 16px;
        padding: 10px;
    }

    .enter2 {
        flex-direction: column;
        align-items: center;
    }

    .email2 {
        width: 80vw;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .list {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

}